button{
    margin-bottom: 150px;
    margin-left: 50px;
    border-color: black;
    border-radius: 15px;
    color: gray;
    background-color: lightcyan;
    padding: 15px 15px 15px 15px;
}
input{
    margin-top:20px;
    margin-left:20px;
    margin-right: 20px;
}
#circle-container{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid thistle;
    margin-top: 10px;
    margin-left:150px;
    width:70vw;
    height:500px;
    position: relative;
}
#circles {
    margin-top: 30px;
    display: inline-block;
    align-items: start;
}
.item {
    border-radius: 50%;
   /* width: 40px;
    height: 40px;
    background-color:navy;*/
}